{% extends 'base.html' %}
{% block title %}ジャンル一覧{% endblock %}

{% block content %}
  <h1 class="mb-4">ジャンル</h1>
  <div class="row">
    {% for cat in categories %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ cat.name }}</h5>
            <a href="{{ url_for('genre', category_id=cat.id) }}" class="btn btn-primary">見る</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
