{% extends 'base.html' %}
{% block title %}{{ thread.title }}{% endblock %}

{% block content %}
  <h1>{{ thread.title }}</h1>

  {% for post in posts %}
    <div class="card mb-3">
      <div class="card-body">
        {{ post.content }}
      </div>
    </div>
  {% else %}
    <p>投稿がありません。</p>
  {% endfor %}

  <h3>投稿する</h3>
  <form method="post">
    <div class="mb-3">
      <textarea name="content" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">送信</button>
  </form>
{% endblock %}
